* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.Grid-template-commerce {
  display: grid;
  width: 100%;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";
  grid-template-columns: 15% 1fr 1fr;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: rgba(115, 169, 240, 0.822);
  color: aliceblue;
}
h4 {
  text-align: center;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

nav .Categorías {
  grid-area: nav;
  padding: 20px;
  padding-left: 30px;
  height: 1200px;
  gap: 10px;
  background-color: rgba(115, 169, 240, 0.658);
  color: aliceblue;
}

main {
  grid-area: main;
  width: 100%;
  background-color: rgba(181, 231, 238, 0.13);
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  grid-area: footer;
  background-color: rgba(115, 169, 240, 0.822);
}
.productos {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

.productos .grid-item {
  display: flex;
  text-align: center;
  padding: 80px;
  padding-bottom: 60px;
  display: grid;
}

.productos .grid-item img {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 250px ;
}
